html, body {
	background-color: #EEE1D2;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.jumbotron {
	background-image: url("../images/foodtruckheader.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
h1 {
	font-family: 'Righteous', cursive;
	color: #FFFEFC;
	font-size: 80px;
}
h2 {
	font-family: 'Righteous', cursive;
	color: #555;
	font-size: 80px;
}
.jumbotron h2 {
	color: #FFFEFC;
	text-shadow: -1.5px 0 #000000,0 1.5px #000000,1.5px 0 #000000,0 -1.5px #000000;
}
h3 {
	font-family: 'Righteous', cursive;
	color: #555;
	font-size: 25px;
}
/*Video Home Page Style*/

.background-wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
      }
 #video-bg-elem {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
 }

#header {
	font-family: 'Pacifico', cursive;
	color: #555;
	font-size: 50px;
}
#ftInfo {
    display: none;
}
#selectedTruck {
    width: 400px;
}
#currentTrucks {
    width: 400px;
}

/*Button Styling*/
 .content {
    position: absolute;
    width: 100%;
    min-height: 100%; 
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
  }
  .content h1 {
    text-align: center;
    font-size: 85px;
    font-weight: 300;
    padding-top: 15%;
    margin-bottom: 10px; 
    font-family: 'Righteous', cursive;
	color: #FFFEFC;
  }
  .content p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: #aaa;
  }
 .button {
    border: solid #036A81 3px;
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #036A81;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 12px;
  }
  .button:hover {
    color: #023964; 
	background-color: #BDBDBD;
	border: solid;
	opacity: 0.6;
	transition: ease-in 0.5s;
  }

/*Code by Dolphin Below*/

#truckName {
    font-size: 5em;
}

#truckDescription {
	font-size: 1.5em;
}

#ftHeader {
	background: #CFB095;
}

#averageRating, #cuisine, #website, #twitterHandle {
	font-weight: bold;
	font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

#tweets {
	color: blue;
	font-size: 18px;
}

#truckReviews {
	font-weight: bold;
	font-size: 25px;
    text-decoration: underline;
    padding-top: 50px;
    text-align: center;
}

#currentReviews {
	font-size: 18px;
	text-align: center;
}

#tweets h5 {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

#fileUpload {
  display: none;
}