body {
	background-color: #EEE1D2;
}
.jumbotron {
	background-image: url("../images/foodtruck.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	height: auto;
}
.jumbotron h1 {
	font-family: 'Righteous', cursive;
	color: #FFFEFC;
	font-size: 70px;
}
#header {
	font-family: 'Pacifico', cursive;
	color: #555;
	font-size: 50px;
}
#ftInfo {
    display: none;
}
#selectedTruck {
    width: 400px;
}
#currentTrucks {
    width: 400px;
}